.education {
  height: 950px;
  text-align: center;

  h1 {
    font-size: 70px;
    padding-bottom: 50px;
  }
  
  .text-section {

    h2 {

    }
    h3 {

    }
    p {
      font-weight: bold;
    }
  }
}