.home {
  text-align: center;
  height: 900px;
  width: 100%;
  background-color: white;
  color: black;
  flex-direction: row;

  .text-section {
    animation: fade-in 3s;
    padding: 50px;
    h1 {
      font-weight: bold;
      font-size: 70px;
    }
    h2 {
      font-weight: normal;
      font-size: 35px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}