.navigator {
  padding-top: 20px;
  padding-left: 50%;
  padding-right: 50%;
  overflow: hidden;
  background-color: rgb(28, 26, 36);

  a {
    float: left;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }
  a:hover {
    text-decoration: underline;
    text-underline-offset: 16px;
    text-decoration-thickness: 3px;
  }

  ul {
    display: flex;
    margin: 5px;
    list-style: none;
  }

  li {
    padding: 12px;
  }
}