.skills {
  padding-bottom: 100px;

  h2 {
    /* color: black; */
    text-align: center;
    font-size: 70px;
  }

  .skill {
    display: inline-block;
    background-color: #333333;
    margin: 50px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
    height: 210px;
  
    img {
      height: 100px;
      width: 100px;
      margin-left: 75px;
      margin-top: 10px;
      filter: invert(100%)
    }
    p {
      font-weight: bold;
      font-size: 36px;
      text-align: center;
    }
    
  }
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}